.cupcake-item {
    margin-bottom: var(--space-medium);
    padding: var(--space-small);
    background-color: var(--color-light-grey);
  }
  
  .cupcake-item img {
    margin-bottom: var(--space-medium);
    border-radius: 15px;
    box-shadow: 2px 2px 5px 0px var(--color-medium-grey);
  }

  .text {
    margin-bottom: var(--space-medium);
    padding: var(--space-small);
    background-color: var(--color-light-grey);
  }

